# backend/.env

# --- Application Settings ---
# "court" for Court Mode, "open" for Open Source Mode
APP_MODE="court"

# --- Database Connection ---
# DATABASE_URL="sqlite+pysqlite:///./db/sqlite/documents.db"
DATABASE_URL="postgresql+asyncpg://myuser:mypassword@db:5432/mydatabase"

# --- Admin Credentials (for Court Mode) ---
ADMIN_USERNAME="admin"
ADMIN_PASSWORD="adminP@ssword"

# --- JWT Settings ---
## --- JWT Secret Key ---
SECRET_KEY="a-very-long-and-secret-key"

## --- JWT Algorithm ---
ALGORITHM="HS256"

## --- JWT Access Token Expiration Time ---
ACCESS_TOKEN_EXPIRE_MINUTES=480

# --- Docker Compose Variables for PostgreSQL Container (Only for Docker Compose)---
# POSTGRES_DB=mydatabase
# POSTGRES_USER=myuser
# POSTGRES_PASSWORD=mypassword

# --- Redis Connection ---
REDIS_HOST= "redis"
REDIS_PORT= 6379

# --- Vector Store Provider ---
# "pgvector" for PostgreSQL, "chroma" for ChromaDB. "qdrant" for Qdrant
VECTOR_STORE_PROVIDER="chroma"

## --- ChromaDB Settings ---
CHROMA_DB_PATH= "./db/chroma_db"

## --- Qdrant Settings ---
QDRANT_HOST="localhost"
QDRANT_PORT=6333

